body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
  	margin: 0;
 	padding: 0;
}

.home-wrapper{
	padding-top: 100px;
	padding-bottom: 330px;
	
	background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('../images/background.jpg');
	background-size: cover;
	color:black;
}

 h1{
	margin-bottom: 100px;
	font-size: 60px;
	text-align: center;
}

 img{
	width: 800px;
}

#mi-reloj {
  margin: auto;
  padding: 0px 0 0 0;
  width: 620px;
}

.imagen{

	text-align: center;
}
